<ion-button (click)="onOpen()">Add Course</ion-button>
<ion-modal [isOpen]="showModal$ | async" ngSkipHydration>
  <ng-template>
    <app-modal [data]="selectedCourse" (editFormData)="editCourseForm($event)">
      <app-reusable-form
        [form]="courseForm"
        [fields]="fields"
       
        (setMode)="setEditMode($event)"
        (editFormDataChange)="editCourseForm($event)"
      ></app-reusable-form>
    </app-modal>
  </ng-template>
</ion-modal>

<!-- (submitForm)="editFormValue($event)"
<ng-container *ngIf="courses$ | async as courses" ngSkipHydration>
  <ng-container *ngFor="let c of courses ?? []" ngSkipHydration> -->
<!-- <ion-card> -->
<!-- <ion-card-content>
      <img alt="no image" [src]=" c?.url " width="300" height="150" />
      <h2>Course Title: {{ c?.courseName }}</h2>
      <p>Course Id: {{ c?.id }}</p>
      <p>Instructor: {{ c?.instructor }}</p>
      <p>Duration: {{ c?.duration }} hours</p>
      <p>Rating: {{ c?.rating }} stars</p>
      <p>Description: {{ c?.description }}</p>
      <button (click)="onEdit(c)">Edit</button>&nbsp;
      <button (click)="onDelete(c)">Delete</button>
    </ion-card-content> -->
<!-- <ng-container *ngIf="courses$ | async as courses" ngSkipHydration> -->

<!-- <app-card
    [course]="c"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)">
  </app-card> -->

<ion-grid>
  <ion-row>
    @for (course of (courses$ | async) ?? []; track course.id) {
      @if (course) {
        <ion-col size="12" size-md="3">
          <app-card
            [data]="course"
            (editForm)="editCourseForm($event)"
            (delete)="onDelete($event)"
            (setMode)="setEditMode($event)"
          >
          </app-card>
        </ion-col>
      }
    }
  </ion-row>
</ion-grid>

<!-- @for (course of (courses$ | async) ?? []; track course.id) {
  @if (course) {
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3">
          <app-card
            [data]="course"
            (submitForm)="submitForm($event)"
            (delete)="onDelete(course)"
          />
        </ion-col>
      </ion-row>
    </ion-grid>
  }
} -->
