<ion-card>
  <ion-card-header>
    <ion-card-title>Counter</ion-card-title>
    <ion-card-subtitle>Counter Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <h2>{{ counter }}</h2>
    <div class="button-group">
      <ion-button>Increment</ion-button>
      <ion-button>Decrement</ion-button>
      <ion-button>Reset</ion-button>
    </div>
    <div class="input-group">
      <ion-input type="text"></ion-input>
      <ion-button>Add</ion-button>
    </div>
  </ion-card-content>
</ion-card>
