<ion-card>
  <ion-card-header>
    <ion-card-title>Counter</ion-card-title>
    <ion-card-subtitle>Counter Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content ngSkipHydration>
    <h2>Counter : {{ counter}}</h2>
    <div class="button-group">
      <ion-button (click)="onIncrement()">Increment</ion-button>
      <ion-button (click)="onDecrement()">Decrement</ion-button>
      <ion-button (click)="onReset()">Reset</ion-button>
    </div>
    <!-- <div class="input-group">
      <ion-input type="text"></ion-input>
      <ion-button>Add</ion-button>
    </div> -->
  </ion-card-content>
</ion-card>
