<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <ng-container *ngFor="let field of fields">
    <ng-container *ngIf="!(field.control === 'id' && !form.value.id)">
      <ion-label style="font-weight: 600;">{{ field.label }} :</ion-label>
      <!-- Text Input -->
      <ion-list>
        <ion-item *ngIf="field.type !== 'textarea'">
          <ion-input
            [type]="field.type || 'text'"
            [placeholder]="field.placeholder"
            [readonly]="field.readonly || false"
            labelPlacement="stacked"
            [formControlName]="field.control"
          >
          </ion-input>
        </ion-item>

        <!-- Textarea -->
        <ion-item *ngIf="field.type === 'textarea'">
          <ion-textarea
            [formControlName]="field.control"
            [placeholder]="field.placeholder"
            auto-grow="true"
          >
          </ion-textarea>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>

  <ion-button type="submit">
    {{ editMode ? "Update" : "Submit" }}
  </ion-button>
</form>
