.field-wrapper {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
// .input-box {
//   padding: 8px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
// }

.error {
  color: red;
  font-size: 13px;
}

form {
  width: 400px;
  height: 400px;
}
ion-label{
  margin-left: 16px;
}
ion-item{
  ion-input{
    min-height: 0px !important;
  }
}
