.field-wrapper {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
// .input-box {
//   padding: 8px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
// }

.error {
  color: red;
  font-size: 13px;
}

// form {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: flex-start;
//   align-items: center;
//   justify-content: flex-start;
// }
