.course-card {
  margin: 14px;
  border-radius: 14px;
  overflow: hidden;
}

.course-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.description {
  margin-top: 8px;
  color: #555;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.truncated-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
