<ng-container *ngIf="loading$ | async">
  <ion-list>
    <ion-item *ngFor="let i of [1,2,3]">
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-container>


<ng-template #listTpl>
  <ng-container *ngIf="(error$ | async) as error">
    <ion-text color="danger">
      <p>Error: {{ error }}</p>
    </ion-text>
  </ng-container>
</ng-template>

  
<ion-list *ngIf="todolist$ | async as todos" ngSkipHydration>
  <ion-item *ngFor="let todo of todos">
    <ion-label>
      <h2><strong>Title:</strong> <span>{{ todo.title }}</span></h2>
      <p><strong>Description:</strong> <span>{{ todo.description }}</span></p>
      <p><strong>ID:</strong> <span>{{ todo.id }}</span></p>
      <p><strong>Date:</strong> <span>{{ todo.date }}</span></p>
      <p><strong>Status:</strong> <span>{{ todo.status }}</span></p>
    </ion-label>
    <ion-button (click)="editToDo(todo)" fill="outline" color="primary" size="small">Edit</ion-button>
    <ion-button (click)="deleteToDo(todo)" fill="outline" color="danger" size="small">Delete</ion-button>
  </ion-item>
</ion-list>