@if (loading$ | async) {
  <ion-list>
    @for (i of [1,2,3]; track $index) {
      <ion-item>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
} @else {
  @if (error$ | async; as error) {
    <ion-text color="danger">
      <p>Error: {{ error | json  }}</p>
      <p>Please run json-server --watch db.json or npm run server</p>
    </ion-text>
  } @else {
    @if (todolist$ | async; as todos) {
      <ion-list ngSkipHydration>
        @for (todo of todos; track todo.id) {
          <ion-item>
            <ion-label>
              <h2><strong>Title:</strong> <span>{{ todo.title }}</span></h2>
              <p><strong>Description:</strong> <span>{{ todo.description }}</span></p>
              <p><strong>ID:</strong> <span>{{ todo.id }}</span></p>
              <p><strong>Date:</strong> <span>{{ todo.date }}</span></p>
              <p><strong>Status:</strong> <span>{{ todo.status }}</span></p>
            </ion-label>

            <ion-button (click)="editToDo(todo)" fill="outline" color="primary" size="small">
              Edit
            </ion-button>
            <ion-button (click)="deleteToDo(todo)" fill="outline" color="danger" size="small">
              Delete
            </ion-button>
          </ion-item>
        } @empty {
          <ion-item>
            <ion-label class="ion-text-center">
              <p>No records found</p>
            </ion-label>
          </ion-item>
        }
      </ion-list>
    }
  }
}
