.overlay {
      top: 0; 
      left: 0;
      display: flex; 
      align-items: center; 
      justify-content: center;
      position: relative;
      z-index: 99999;
      border: 2px solid;
      overflow: auto;
    }
    .modal {
      padding: 10px;
      border-radius: 8px;
    }

 