.overlay {
      top: 0; 
      left: 0;
    //   background: rgba(0, 0, 0, 0.5);
      display: flex; 
      align-items: center; 
      justify-content: center;
      position: relative;
      z-index: 99999;
      border: 2px solid;
      overflow: auto;
    }
    .modal {
    //   background: #fff;
      padding: 20px;
      border-radius: 8px;
      width: 300px;
    //   text-align: center;
    
    }
    button {
      margin-top: 20px;
    }