:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center; // center horizontally
  align-items: start; // align to top (change to center if needed)
  padding: 1rem;
  background-color: #f5f5f5; // optional light background
  overflow-y: auto;
}

.content-card {
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 122px);
}
::ng-deep ion-list {
  &.list-md {
    height: 250px;
    overflow-y: auto;
  }
}