
@if (loading$  | async) {
  <ion-list ngSkipHydration>
    @for (i of [1,2,3]; track $index) {
      <ion-item>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
} @else {
  @if (error$ | async; as error) {
    <ion-text color="danger">
      <p>Error: {{ error }}</p>
    </ion-text>
  } @else {
    @if (employeeList$ | async; as todos) {
      <ion-list ngSkipHydration>
        @for (todo of todos; track todo._id) {
          <ion-item>
            <ion-label>
              <h2><strong>Name:</strong> <span>{{ todo.name }}</span></h2>
              <p><strong>Department:</strong> <span>{{ todo.department }}</span></p>
              <p><strong>Position:</strong> <span>{{ todo.position }}</span></p>
              <p><strong>Salary:</strong> <span>{{ todo.salary }}</span></p>
              <p><strong>Id:</strong> <span>{{ todo._id }}</span></p>
            </ion-label>

            <ion-button (click)="updateEmployee(todo)" fill="outline" color="primary" size="small">
              Edit
            </ion-button>
            <ion-button (click)="deleteEmployee(todo._id)" fill="outline" color="danger" size="small">
              Delete
            </ion-button>
          </ion-item>
        } @empty {
          <ion-item>
            <ion-label class="ion-text-center">
              <p>No records found</p>
            </ion-label>
          </ion-item>
        }
      </ion-list>
    }
  }
}
